<!DOCTYPE html>
<html>
<head>
    <title>Rtsp.io</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="/javascripts/lib/rtsp.io-client-js.min.js"></script>
    <script src="/javascripts/player.js"></script>

    <script src="//localhost:35729/livereload.js"></script>

</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">RTSP.io JavaScript Browser Client</a>
        </div>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Testing and debuging</h1>
        <p>This is the test page for the RTSP.io JavaScript Browser Client.</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">


            <div class="container">
                <div class="row">

                    <div class="well">
                        <h3>Instructions</h3>
                        <p>Add an IP address, select a video, and then press the Play button to play. You can press Pause, to pause the video and then press play to resume it. Once finished, press the Stop button and this will execute the teardown and terminate the socket.</p>
                    </div>

                    <div class="col-md-4">

                        <div class="form-group">
                            <label for="ipaddress">IP Address</label>
                            <input class="form-control" name="ipaddress" id="ipaddress" type="text" placeholder="IP Address" value="192.168.100.122:1235">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Choose Movie</label>
                            <div>
                                <select id="movie" name="movie" class="form-control">
                                    <option value="rtsp://192.168.100.80:554/60010001?assetUid=3b9acb30&transport=MP2T/AVP/UDP&ServiceGroup=1&smartcard-id=0021F80484B1&device-id=0021F80484B1&home-id=3001002_1&client_mac=0021F80484B1&purchase-id=100000948">MF the MFer</option>
                                    <option value="rtsp://192.168.100.80:554/60010001?assetUid=3b9acb2e&transport=MP2T/AVP/UDP&ServiceGroup=1&smartcard-id=0021F80484B1&device-id=0021F80484B1&home-id=3001002_1&client_mac=0021F80484B1&purchase-id=100000949">MF 07 Test</option>
                                    <option value="rtsp://192.168.100.80:554/60010001?assetUid=3b9acae8&transport=MP2T/AVP/UDP&ServiceGroup=2&smartcard-id=0021F80484B1&device-id=0021F80484B1&home-id=3001002_1&client_mac=0021F80484B1&purchase-id=100000866">Divergent</option>
                                    <option value="rtsp://192.168.100.80:554/60010001?assetUid=3b9acae8&transport=MP2T/AVP/UDP&ServiceGroup=2&smartcard-id=0021F80484B1&device-id=0021F80484B1&home-id=3001002_1&client_mac=0021F80484B1&purchase-id=100000866">Captain America</option>
                                    <option value="rtsp://192.168.100.80:554/60010000?assetUid=3b9acb15&transport=MP2T/AVP/UDP&ServiceGroup=2&smartcard-id=0021F80337F2&device-id=0021F80337F2&home-id=100326_1&client_mac=0021F80337F2">No good horrible...</option>
                                </select>
                            </div>
                        </div>

                        <ul class="pagination" style="width:100%">
                            <li><a href="#" id="btn_rewind" class="video-ops"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a></li>

                            <li><a href="#" id="btn_play" class="video-ops"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a></li>

                            <li><a href="#" id="btn_pause" class="video-ops"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></a></li>

                            <li><a href="#" id="btn_forward" class="video-ops"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a></li>

                            <li><a href="#" id="btn_stop" class="video-ops"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></a></li>

                            <li><a href="#" id="btn_currentTime" class="btn"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Get Current Time</a></li>
                        </ul>

                        <div class="progress">
                            <div id="video-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <h2>Simulator Robot Messages</h2>
                        <div class="well">
                            <ul id="messages">
                                <li>Beep-bop-bork beep-beep!</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2015 Aceso Interactive, Inc.</p>
    </footer>
</div> <!-- /container -->
</body>
</html>